// 🎨 PALETA SPA PROFESIONAL

// Colores principales
$primary: #88a096; // Verde salvia
$secondary: #f7f3ee; // Crema cálido
$accent: #e8d6d0; // Rosa natural suave
$dark: #2f2f2f; // Gris pizarra suave

// Utilitarios
$positive: #5dbb63;
$negative: #c04a4a;
$info: #6ab5c9; // azul agua suave
$warning: #e0b45f; // dorado cálido
